.container{
    height:649px;
    width:650px;
    border:2px black solid;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center;
}
.inner{
    
    height:200px;
    width: 200px;
    /* border: 1px red solid; */
}
#box1 , #box3{
    flex-grow:2 ;
    height: auto;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}
#box2{
    flex-basis:150px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.topbuttom{
    max-height:41px;
    width:45px;
    border: 1px black solid;
    flex-grow: 1.5;
}
#box3{
    background-color: blue;
}

#box4 , #box6{
    flex-basis:250px;
    height:  150px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-content: baseline;

}
#box5{
    flex-basis: 150px;
    height: 150px;
    text-align: center;
    align-content: center;
    font-size: 25px;
    color: black;
    font-weight: bold;
    background:repeating-conic-gradient(from 45deg,red 0deg 90deg,green 90deg 180deg, yellow 180deg 270deg , blue 270deg 360deg);
}

#box8{
    height: 250px;
    flex-basis: 150px;
    display: flex;
    flex-wrap: wrap;
}

#box7 , #box9{
    flex-grow: 2;
    height: auto;
    background-color:green;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#box9{
    background-color: red;
}

.leftright{
    height:48.5px;
    width: 35px;
    border: 1px black solid;
    flex-grow:1;
}
.box{
    height: 50px;
    width: 50px;
    border: 1px black solid;
    border-radius:50%;
    margin:0 35px;
    background-color: white;
    /* margin-right: 50px; */
}
